$primary: hsla(200, 100%, 42%, 100%);
$primary-opacity60: hsla(200, 100%, 42%, 60%);
$primary-Xlight: hsla(200, 73%, 93%, 60%);
$primary-dark: hsla(200, 57%, 3%, 60%);

$secondary: hsla(162, 49%, 67%, 100%);
$secondary-opacity60: hsla(162, 49%, 67%, 60%);

$title-dark: hsla(210, 53%, 15%, 100%);
$text-dark: hsla(208, 12%, 12%, 100%);

$title-light: hsla(210, 21%, 98%, 100%);
$text-light: hsla(210, 21%, 95%, 100%);

$overlay: hsla(0, 0%, 0%, 45%);
